body {
  background: #131;
  color: #696;
  font: 10px/1.5 Arial, sans-serif;
}
h2 {
  color: #696;
}
.CoAnMoPluginCli.stdin {
  border: 2px solid transparent;
  color: #eee;
  transition: border-color 0.5s;
}
.CoAnMoPluginCli.stdin:focus {
  border-color: #fff6;
  outline: none !important;
}
.CoAnMoPluginCli.stdout {
  height: 200px;
  white-space: pre-wrap;
  overflow: hidden;
  overflow-y: scroll;
  color: #bfb;
}
.CoAnMoPluginCli.stdin,
.CoAnMoPluginCli.stdout {
  width: 300px;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  background: #0009;
  font: 12px/20px Monaco, monospace;
}
